.landing-page {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.landing-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute; /* Ensures it stays positioned inside its parent */
    top: 50%; /* Moves the element's top edge to 50% of the parent */
    left: 50%; /* Moves the element's left edge to 50% of the parent */
    transform: translate(-50%, -50%); /* Centers the element exactly */
    color: white; /* Adjust text color */
    text-align: center;
    font-weight: 500;
}
.logo {
    display: inline-block;
    margin: 15px; /* margin: 20px was off */
    height: 50px;
    width: auto; /* correct proportions to specified height */
  }
